.footerDot span{
    font-size: 13px;
    color: rgb(240 243 248);
    /* line-height: 50px; */
    margin: 5px;
}
.footerDot{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.alerts{
    background-color: rgb(255 228 228 );
    font-size: 13px;
    width: 400px;
    color: rgb(173 81 80 );
}
.prevBtn{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding-top:0.75rem;
    padding-bottom:0.75rem;
}
.prevBtn:hover{
    background-color: rgb(240 243 248);
}
.nextBtn{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    background-color: #5554e6;
    color: #fff;
}
.nextBtn:hover{
    background-color: #2f2fc9;
    color: #fff ;
}
.loginForm input{
    background-color: rgb(240 243 248);
    color: gray;
}
.formcheck{
    padding-left: 0% !important;
}
.squitch{
    padding-left: 7rem;
    padding-right: 7rem;
}
.instBtn{
    color: #fff;
    background-color: #5554e6;
    margin: 0 auto;
}

.instBtn:hover{
    color: white;
    background-color: #2f2fc9;
}